*.class

bin
out
build
.idea/
.gradle/
.classpath
.project
.settings
.checkstyle
.factorypath
.sts4-cache
platform-config.properties
package-lock.json

*.iml
*.jar
*.war
*.ear
*.log
log.txt
target/
localize/